extends layout

block content
  #container.col
    if youAreUsingPug
      p You are amazing
    else
      p Get on it!
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.

  h2 go through a list
  ul
    - const names = ["Dom", "Sofie", "Mark"]
    each n, i in names 
      li= i + "--" + n

  h2 go through a JSON 
  ul
    - const boxes = {"name": "albert", "age": 36, "hobbie": "read good books"}
    each n, i in boxes 
      li= i + "--" + n

  include nav
  include prices






    
    
