doctype html
html(lang="en")
  head
    title= pageTitle
    script(type='text/javascript')
    link(rel='stylesheet', type="text/css" href='/public/stylesheet/style.css')
    style. 
      p {
        color: brown;
      }


  body
    h1 Pug - node template engine
    block content

    




      
      
