style.
    a{
        color: black;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        border: 0.25em solid black;
    }
    nav p{
        border: 0.1em solid black;
        padding: 1em;
        
    }


h2 navbar included from another pug file:
nav
    p Home 
    p About Us

      



      
      
