extends layout 

mixin showPostalCard(postalCardObject)
    .postCard
        h3= postalCardObject.title 
        img(src=postalCardObject.image_url)
        p= postalCardObject.description

block content 
    .postCardList
        each postalCard in allPostC
            +showPostalCard(postalCard)

    .buttonList 

        input(type="button")
        input(type="button") 